{% extends 'layout.html'%}

{% block content %}

    <h4>Create Ninjas & Dojos</h4>
    <p>Click the links below!</p>
    <ul>
        <li>
            <a href="/create_ninja_page">
                <button type="link" class="btn btn-dark">Ninjas</button>
                </a>
        </li>
        <li>
            <a href="/create_dojo_page">
            <button type="link" class="btn btn-dark">Dojos</button>
            </a>
        </li>
        
    </ul>

    <style>
        
        ul {
            width: 100%;
            list-style: none;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock %}