{% extends 'layout.html' %}



{% block content %}
    <h4>Ninjas</h4>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Dojo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in ninjas %}
            <tr>
                <td>{{ ninja.first_name }}</td>
                <td>{{ ninja.last_name }}</td>
                <td>{{ ninja.age }}</td>
                <td><a href='/dojo/show/{{ ninja.dojo_name.id }}'>{{ ninja.dojo_name.name }}</td>
                <td><a href='/ninja/show/{{ ninja.id }}'>Show</a> | <a href='/ninja/edit/{{ ninja.id }}'>Edit</a> | <a href='/ninja/delete/{{ ninja.id }}'>Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>
        a {
            font-size: 15px;
        }
    </style>
{% endblock %}
