{% extends 'layout.html' %}



{% block content %}
<h4>Dojos</h4>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>Name</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for dojo in dojos %}
        <tr>
            <td>{{ dojo.name }}</td>
            <td>{{ dojo.created_at }}</td>
            <td><a href='/dojo/show/{{ dojo.id }}'>Show</a> | <a href='/dojo/delete/{{ dojo.id }}'>Delete</a></td>
        </tr>
        <style>
            a {
                font-size: 13px;
            }
        </style>
        {% endfor %}
    </tbody>
</table>

{% endblock %}